<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title> Accueil </title>	 
	<link rel = "stylesheet" href="/css/style.css"> 
</head>
<body>
	<div class="header">
		<h1>Kibubu Rugby Club</h1>
		<div class="menu">
			<div> <a href="/liste_des_joueurs">Gestion d'Equipe</a> </div>
			<div> <a href="https://www.sportkipik.be/-regionales-">Saison 2020-2021</a> </div>			
			<div> <a href="http://www.kibubu.be">Le Club</a> </div>
		</div>
	</div>
	<div class="content">
		<h2>Liste des Matchs</h2> 
		<form action = "/search" method="POST">
			<input type="search" name="search" value="">
			<input type ="submit" name="rechercher" value="rechercher">
		</form>
			<ul>
				<div class="historique">
					<% for (let i = 0 ; i < matchs.length ; i++) { %> 
					<li>
						<div class="matchs"> 
							<div class="texte"> 
								<%= format.asString('dd/MM/yyyy', matchs[i].date) %> :
								<%= matchs[i].nom %></br></br>
							</div>	
						</div>	 
					</li>  
						<% } %>
				</div>
			</ul>

		<div class="new_compo">
			<a href='/nouvelle_composition'> Ajouter une nouvelle composition </a>    
		</div>
	</div>
	<div class="footer">
		<div class="rs">
			<div class="insta">
				<a href="https://www.instagram.com/kibubu_rugby/">
					<div class="logo">
						 <img src="rs/insta.jpg" alt="Lien Instagram" /> 
					 </div>	
				</a>
			</div>
			<div class="face"> 
				<a href="https://www.facebook.com/KibubuRugbyClub">
					<div class="logo">
						 <img src="rs/face.jpg" alt="Lien Facebook" /> 
					 </div> 
				</a>
			</div>
		</div>
	</div>	
</body>    
