    <link rel = "stylesheet" href="/css/style.css">

  <h1>Kibubu Rugby Club</h1>
    <div class="menu">
      <div><a href="/">Home</a></div>
    </div>

<!-- Liste des Joueurs --> 
    <ul>
      <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
        <li> <%= joueurs[i].prenom %> <%= joueurs[i].nom %> 
        <a href="/liste_des_joueurs/supprimer/<%= joueurs[i].id_joueur %>"> Supprimer </a>
        <a href="/liste_des_joueurs/modifier/<%= joueurs[i].id_joueur %>"> Modifier </a> </li>  
      <% } %>
    </ul>
      



