<link rel = "stylesheet" href="/css/style.css">

 <h1>Nouvelle Composition</h1>
      
 <form action="/feuille_de_match" method="POST" >
      <!-- Choix Date -->
      Date : 
      <input type="date" id="date" value="" min="2021-01-01" max="2022-01-01" required>

      <!-- Choix Adversaire -->   
     Adversaire : 
      <select name ="adversaire" id="">
         <option value = adversaire > ADVERSAIRE X </option>
      </select>

      <!-- ENVOYER -->  
      <a href="/"> <input type="button" name="cancel" value="Annuler"/> </a>
      <input type="submit" name="save" value="Composer l'équipe" />

  </form>
  