.header {
    background-color:orangered;
    color: orange;
    height: 19vh;
    width: 100%;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    h1 {
        color:orange;
        text-align: center;
        font-size: 6vh;
        text-shadow:2px 2px 5px black;
    }

body {
    height: 100%;
    background-color: lightyellow;
    color:orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color:orangered;
    text-align: left;
    font-size: 2em;
    padding-left: 5vw;
}

.menu {
    display: flex;
    background-color: orange;
    align-content: space-around;
    justify-content: space-evenly;
	box-shadow: 0px 0px 10px lightyellow;
	font-size: 3vh;	
	text-align: center;
	}

    .menu a {
        color:lightyellow;
        text-decoration: none;
    }
    .menu :hover{
        color: black;
        }

.content {
    font-size: 4vh;
    min-height:69vh;
}


.bouttons	a {
    font-size: 2vh;
    right: 20vw;
    color: blue;
}

.historique 	{
	display: flex;
	justify-content: space-around;
    align-items: center;
	}

form {
    text-align: center;
    position: absolute;
    top: 200px;
    right: 250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.new {
    position: absolute;
    bottom: 200px;
    right: 50px;
    font-size: 2em;
    background-color: orange;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.new a {
    color:lightyellow;
    text-decoration: none;
}

.new :hover {
    color: yellow;
}

form input[type=submit], [type=button]{
    font-size: 2em;
    background-color: ivory;
    border-radius: 5px;
    box-shadow: black;
    text-align: center;
    box-shadow: 0px 0px 10px orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

    form input[type=submit]:hover, [type=button]:hover, [type=date]:hover {
        color: sienna;
    }

form input[type=date] {
    font-size: 2em;
    background-color: ivory;
    border-radius: 5px;
    position: fixed;
    left: 10vw;
    top: 30vh;
    box-shadow: black;
    text-align: center;
    box-shadow: 0px 0px 10px orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select {
    font-size: 1em;
    background-color: orange;
    border-radius: 35px;
    box-shadow: black;
    text-align: center;
    box-shadow: 0px 0px 10px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer {
    background-color:orangered;
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 12vh;
    left: 0;
    bottom: 0;
    width: 100%;
    }
    
    .rs {
	padding-top: 1vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	width: 20%;
	padding-left:40vw;
	}

	.rs img {
		height: 10vh;
		border-radius: 25px;
		}

	.rs img:hover {
		height: 10vh;
		border-radius: 25px; 
		box-shadow: 0px 0px 15px black;
		}	
