.header {
    background-color:orangered;
    color: orange;
    height: 19vh;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    h1 {
        color:orange;
        text-align: center;
        font-size: 6vh;
        text-shadow:2px 2px 5px black;
    }

body {
    background-color: lightyellow;
    color:orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color:orangered;
    text-align: left;
    font-size: 4vh;
    padding-left: 5vw;
}

.menu {
    display: flex;
    background-color: orange;
    align-content: space-around;
    justify-content: space-evenly;
	box-shadow: 0px 0px 10px lightyellow;
	font-size: 3vh;	
	text-align: center;
	}

    .menu a {
        color:lightyellow;
        text-decoration: none;
    }
    .menu :hover{
        color: black;
        }

.content {
    min-height:69vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}

.content li {
    list-style: none;
}

.liste_des_joueurs li {
    font-size: 3vh;
    list-style:circle;
}

.bouttons a {
    font-size: 1vh;
    right: 20vw;
    color: blue;
}

    .matchs {
        background-color: gainsboro;
        border-color: orangered;
        border-style: groove;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 1vw;
        padding-top: 1vh;
        max-height: 10vh;
        overflow:auto;
        flex-wrap: wrap;

    }

    .historique :hover{
		color: sienna;
    }


.new_compo {
    font-size: 300%;
    background-color: red;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 20px orangered;
    margin-bottom: 5vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.new_compo a {
    color:lightyellow;
    text-decoration: none;
}

.new_compo :hover {
    color: yellow;
    box-shadow: 0px 0px 40px yellow;
}

form {
    text-align: center;
    flex-wrap: wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

form input[type=submit], [type=button],[type=date] {
    font-size: 2vh;
    background-color: ivory;
    border-radius: 5px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

    form input[type=submit]:hover, [type=button]:hover, [type=date]:hover {
        color: sienna;
    }

select {
    font-size: 2vh;
    background-color: orange;
    border-radius: 20px;
    box-shadow: black;
    text-align: center;
    box-shadow: 0px 0px 10px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer {
    background-color:orangered;
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 12vh;
    left: 0;
    bottom: 0;
    width: 100%;
    }
    
    .rs {
	padding-top: 1vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	width: 20%;
	padding-left:40vw;
	}

	.rs img {
		height: 10vh;
		border-radius: 25px;
		}

	.rs img:hover {
		height: 10vh;
		border-radius: 25px; 
		box-shadow: 0px 0px 15px black;
		}	
